#mensajesBox {
    height: 300px;
    overflow:auto;
    background-color: silver;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.badge {
    text-align: left;
}

#mensajesBox::-webkit-scrollbar {
    display: none;
}

.img-chat {
    max-width: 100%;
    width: 90%;
    height: auto;
}


